.astuce {
    border-left: 4px solid #3af;
    padding: 0.5em 1em;
    background: #eef;
    margin: 0.5em 0;
}
.astuce::before {
    content: "🔥 ";  /* l'emoji + un espace */
}
.warning {
    border-left: 4px solid #f33;
    padding: 0.5em 1em;
    background: #fee;
    margin: 0.5em 0;
}
.soluce {
    border:2px solid green;padding:0.5em;
}
